/*
   ---------------------------
   created with Free texture packer v0.6.7
   http://free-tex-packer.com
   ---------------------------
*/
.seller-clint { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -0px;width:16px;height:16px; }
.seller-dwarf { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -16px -0px;width:16px;height:16px; }
.seller-krobus { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -16px;width:16px;height:16px; }
.seller-pierre { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -16px -16px;width:16px;height:16px; }
.seller-qi { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -32px -0px;width:16px;height:16px; }
.seller-robin { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -32px -16px;width:16px;height:16px; }
.seller-willy { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -32px;width:16px;height:16px; }
