/*
   ---------------------------
   created with Free texture packer v0.6.7
   http://free-tex-packer.com
   ---------------------------
*/
.seller-krobus { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -0px;width:12px;height:15px;margin-left:2px;margin-top:0px }
.seller-robin { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -15px;width:13px;height:13px;margin-left:2px;margin-top:1px }
.seller-dwarf { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -12px -0px;width:12px;height:13px;margin-left:2px;margin-top:1.5px }
.seller-clint { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -28px;width:12px;height:12px;margin-left:2px;margin-top:3px }
.seller-pierre { display:inline-block;overflow:hidden;background:url(texture.png) no-repeat -0px -40px;width:12px;height:12px;margin-left:2px;margin-top:2px }
